.wrapper
  .container
    %header#home
      .head-image.bg-image{"data-bg-image" => asset_path('head-image.jpg'), :style => "background-position: center center; background-size: cover; background-repeat: no-repeat; height: 535px;"}
        .avatar.wow.bounceInDown.animated{:style => "visibility: visible; animation-name: bounceInDown;"}
          = image_tag 'avatar.jpg', :alt => 'avatar'
      .sticky-paper-head.has-shadow
        .content
          .social-icons
            %ul
              %li
                %a.fa.fa-facebook{:target => '_blank', :href => "https://www.facebook.com/ming.jqing.3"}
              %li
                %a.fa.fa-twitter{:target => '_blank', :href => "https://twitter.com/mmjiang"}
              %li
                %a.fa.fa-google-plus{:target => '_blank', :href => "https://plus.google.com/u/0/102532645207777850705"}
              %li
                %a.fa.fa-github{:target => '_blank', :href => "https://github.com/bit-jmm"}
              %li
                %a.fa.fa-linkedin{:target => '_blank', :href => "https://cn.linkedin.com/in/mmjiang"}
        .shadow
      .col-xs-12.nav-menu.top-menu-holder
        %nav.hidden-xs.visible-lg
          %ul.nav
            %li.active
              %a{:address => "true", :href => "#home"}= t 'navbar_title.home'
            %li
              %a{:address => "true", :href => "#profile"}= t 'navbar_title.profile'
            %li
              %a{:address => "true", :href => "#education"}= t 'navbar_title.education'
            %li
              %a{:address => "true", :href => "#experiences"}= t 'navbar_title.experiences'
            %li
              %a{:address => "true", :href => "#skills"}= t 'navbar_title.skills'
            %li
              %a{:address => "true", :href => "#contact"}= t 'navbar_title.contact'
            - if flash['locale'] == 'en'
              %li.active
                %a{:href => "?locale=en"}=t('en_language')
              %li
                %a{:href => "?locale=zh_CN"}=t('cn_language')
            - else
              %li
                %a{:href => "?locale=en"}=t('en_language')
              %li.active
                %a{:href => "?locale=zh_CN"}=t('cn_language')
        %select.top-drop-menu.nav.visible-md.visible-sm.visible-xs.hidden-lg
          %option{:selected => "selected", :value => "#home"}= t 'navbar_title.home'
          %option{:value => "#profile"}= t 'navbar_title.profile'
          %option{:value => "#education"}= t 'navbar_title.education'
          %option{:value => "#experiences"}= t 'navbar_title.experiences'
          %option{:value => "#skills"}= t 'navbar_title.skills'
          %option{:value => "#contact"}= t 'navbar_title.contact'
    %section#info.big-name
      .sticky-paper-head.has-shadow
        .content
          %h1= t 'author'
          .short-tag
            Software Engineer
        .shadow
      .sticky-paper-body.has-shadow
        .content
          .row
            .col-xs-12.col-md-7
              .le-paragraph
                %p
                  %strong Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit. Nullam convallis
                  lobortis commodo. Nulla et lobortis velit. Maecenas aliquam nulla eros,
                  vitae rhoncus erat fermentum ac. Proin iaculis vel nulla et finibus.
                  Suspendisse sed dolor libero. Nunc pellentesque in ipsum sit amet
                  tempus.
                %p
                  Nullam convallis lobortis commodo. Nulla et
                  = succeed "." do
                    %strong lobortis velit
                  Maecenas aliquam nulla eros, vitae rhoncus erat fermentum ac. Proin
                  iaculis vel nulla et finibus. Suspendisse sed dolor libero. Nunc
                  pellentesque in ipsum sit amet tempus.
            .col-xs-12.col-md-5
              .tabled-info-holder
                %ul.info-holder
                  %li
                    .info-item
                      %i.fa.fa-envelope
                      %span jqingming@gmail.com
                  %li
                    .info-item
                      %i.fa.fa-twitter
                      %span
                        Twitter:
                        %a{:href => "#"} @mmjiang
                %ul.info-holder
                  %li
                    .info-item
                      %i.fa.fa-map-marker
                      %span Live in: Singapore
                  %li
                    .info-item
                      %i.fa.fa-phone
                      %span +86 18601302770
                .social-icons.small
                  %ul
                    %li
                      %a.fa.fa-facebook{:target => '_blank', :href => "https://www.facebook.com/ming.jqing.3"}
                    %li
                      %a.fa.fa-twitter{:target => '_blank', :href => "https://twitter.com/mmjiang"}
                    %li
                      %a.fa.fa-google-plus{:target => '_blank', :href => "https://plus.google.com/u/0/102532645207777850705"}
                    %li
                      %a.fa.fa-github{:target => '_blank', :href => "https://github.com/bit-jmm"}
                    %li
                      %a.fa.fa-linkedin{:target => '_blank', :href => "https://cn.linkedin.com/in/mmjiang"}
        .shadow
    %hr.le-hr
      %section#profile
        .sticky-paper-head.has-shadow
          .content
            %h1= t 'navbar_title.profile'
          .shadow
        .sticky-paper-body.has-shadow
          .content
            .row
              .col-xs-12.col-lg-6
                .timeline-holder.wow.bounceInUp.animated{:style => "visibility: visible; animation-name: bounceInUp;"}
                  .timeline-head
                    .icon
                      %i.fa.fa-user
                  .timeline-body
                    .profile-item.timeline-item
                      .icon-item.left
                        .circular-icon
                          %i.fa.fa-child
                      .profile-content.timeline-content.right
                        %label full name
                        .value Mingming Jiang
                    .profile-item.timeline-item
                      .icon-item.right
                        .circular-icon
                          %i.fa.fa-envelope
                      .profile-content.timeline-content.left
                        %label email address
                        .value
                          jqingming@gmail.com
                    .profile-item.timeline-item
                      .icon-item.left
                        .circular-icon
                          %i.fa.fa-birthday-cake
                      .profile-content.timeline-content.right
                        %label birthday
                        .value 03/05/1991
                    .profile-item.timeline-item
                      .icon-item.right
                        .circular-icon
                          %i.fa.fa-phone
                      .profile-content.timeline-content.left
                        %label Phone
                        .value +86 18601302770
                    .profile-item.timeline-item
                      .icon-item.left
                        .circular-icon.left
                          %i.fa.fa-code
                      .profile-content.timeline-content.right
                        %label Availability
                        .value Not available for Full-Time
              .col-xs-12.col-lg-6
                .interests-holder
                  .interests-row.medium
                    %ul
                      %li.wow.bounceInDown.animated{"data-wow-delay" => "0.1s", :style => "visibility: visible; animation-delay: 0.1s; animation-name: bounceInDown;"}
                        %i.fa.fa-code
                        %span Coding
                      %li.wow.bounceInDown.animated{"data-wow-delay" => "0.2s", :style => "visibility: visible; animation-delay: 0.2s; animation-name: bounceInDown;"}
                        %i.fa.fa-cutlery
                        %span Foods
                      %li.wow.bounceInDown.animated{"data-wow-delay" => "0.3s", :style => "visibility: visible; animation-delay: 0.3s; animation-name: bounceInDown;"}
                        %i.fa.fa-graduation-cap
                        %span Science
                      %li.wow.bounceInDown.animated{"data-wow-delay" => "0.4s", :style => "visibility: visible; animation-delay: 0.4s; animation-name: bounceInDown;"}
                        %i.fa.fa-leaf
                        %span Nature
                  .interests-row.big
                    %ul
                      %li.wow.bounceInDown.animated{"data-wow-delay" => "0.5s", :style => "visibility: visible; animation-delay: 0.5s; animation-name: bounceInDown;"}
                        %i.fa.fa-music
                        %span Music
                      %li.wow.bounceInDown.animated{"data-wow-delay" => "0.6s", :style => "visibility: visible; animation-delay: 0.6s; animation-name: bounceInDown;"}
                        %i.fa.fa-plane
                        %span Travel
                      %li.wow.bounceInDown.animated{"data-wow-delay" => "0.7s", :style => "visibility: visible; animation-delay: 0.7s; animation-name: bounceInDown;"}
                        %i.fa.fa-pencil
                        %span Writing
                      %li.wow.bounceInDown.animated{"data-wow-delay" => "0.8s", :style => "visibility: visible; animation-delay: 0.8s; animation-name: bounceInDown;"}
                        %i.fa.fa-coffee
                        %span Coffee
                  .title.wow.fadeIn{:style => "visibility: hidden; animation-name: none;"}
                    %h1 hobbies &amp; interests
                  .interests-row.big
                    %ul
                      %li.wow.bounceInDown{"data-wow-delay" => "0.1s", :style => "visibility: hidden; animation-delay: 0.1s; animation-name: none;"}
                        %i.fa.fa-rocket
                        %span Space
                      %li.wow.bounceInDown{"data-wow-delay" => "0.2s", :style => "visibility: hidden; animation-delay: 0.2s; animation-name: none;"}
                        %i.fa.fa-road
                        %span road Trip
                      %li.wow.bounceInDown{"data-wow-delay" => "0.3s", :style => "visibility: hidden; animation-delay: 0.3s; animation-name: none;"}
                        %i.fa.fa-paw
                        %span dogs
                      %li.wow.bounceInDown{"data-wow-delay" => "0.4s", :style => "visibility: hidden; animation-delay: 0.4s; animation-name: none;"}
                        %i.fa.fa-paint-brush
                        %span art
                  .interests-row.medium
                    %ul
                      %li.wow.bounceInDown{"data-wow-delay" => "0.5s", :style => "visibility: hidden; animation-delay: 0.5s; animation-name: none;"}
                        %i.fa.fa-music
                        %span Music
                      %li.wow.bounceInDown{"data-wow-delay" => "0.6s", :style => "visibility: hidden; animation-delay: 0.6s; animation-name: none;"}
                        %i.fa.fa-plane
                        %span Travel
                      %li.wow.bounceInDown{"data-wow-delay" => "0.7s", :style => "visibility: hidden; animation-delay: 0.7s; animation-name: none;"}
                        %i.fa.fa-pencil
                        %span Writing
                      %li.wow.bounceInDown{"data-wow-delay" => "0.8s", :style => "visibility: hidden; animation-delay: 0.8s; animation-name: none;"}
                        %i.fa.fa-coffee
                        %span Coffee
          .shadow
      %hr.le-hr
        %section#education
          .sticky-paper-head.has-shadow
            .content
              %h1= t 'navbar_title.education'
            .shadow
          .sticky-paper-body.has-shadow
            .content
              .row
                .col-xs-12
                  .timeline-holder.wow.bounceInUp{:style => "visibility: hidden; animation-name: none;"}
                    .timeline-head.event-head
                      .icon
                        %i.fa.fa-university
                    .timeline-body
                      .event-item.timeline-item
                        .event-title.left
                          %h1 information technology
                          %h4 istanbul university
                        .event-content.timeline-content.right
                          %p
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Vivamus
                            %strong laoreet
                            dolor metus, eu ullamcorper turpis ornare tincidunt.
                            Vivamus tristique rhoncus enim. Curabitur varius est quis sollicitudin volutpat.
                      .event-item.timeline-item
                        .event-content.timeline-content.left
                          %p
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Vivamus laoreet dolor metus, eu ullamcorper turpis ornare tincidunt.
                            Vivamus tristique rhoncus enim. Curabitur varius est quis sollicitudin volutpat.
                        .event-title.right
                          %h1 graphic design
                          %h4 izmir university
                      .event-item.timeline-item
                        .event-title.left
                          %h1 webdesign master
                          %h4 ankara university
                        .event-content.timeline-content.right
                          %p
                            Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Vivamus laoreet dolor metus, eu ullamcorper turpis
                            ornare tincidunt. Vivamus tristique rhoncus enim. Curabitur varius est
                            quis sollicitudin volutpat.
            .shadow
        %hr.le-hr
          %section#experiences
            .sticky-paper-head.has-shadow
              .content
                %h1= t 'navbar_title.experiences'
              .shadow
            .sticky-paper-body.has-shadow
              .content
                .row
                  .col-xs-12
                    .timeline-holder.wow.bounceInUp{:style => "visibility: hidden; animation-name: none;"}
                      .timeline-head.event-head
                        .icon
                          %i.fa.fa-suitcase
                      .timeline-body
                        .event-item.timeline-item
                          .event-title.left
                            %h1 front-end developer
                            %h4
                              Envato
                              %small 2012-2014
                          .event-content.timeline-content.right
                            %p
                              Lorem ipsum dolor sit amet,
                              = succeed "." do
                                %strong consectetur adipiscing elit
                              Vivamus laoreet dolor metus, eu ullamcorper turpis ornare tincidunt.
                              Vivamus tristique rhoncus enim. Curabitur varius est quis sollicitudin volutpat.
                        .event-item.timeline-item
                          .event-content.timeline-content.left
                            %p
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                              Vivamus laoreet dolor metus, eu ullamcorper turpis ornare tincidunt.
                              Vivamus tristique rhoncus enim. Curabitur varius est quis sollicitudin volutpat.
                          .event-title.right
                            %h1 webdeveloper
                            %h4
                              john doe copmany
                              %small 2010-2012
                        .event-item.timeline-item
                          .event-title.left
                            %h1 web designer
                            %h4
                              example company
                              %small 2005-2008
                          .event-content.timeline-content.right
                            %p
                              Lorem ipsum dolor sit amet, consectetur
                              adipiscing elit. Vivamus laoreet dolor metus, eu ullamcorper turpis
                              ornare tincidunt. Vivamus tristique rhoncus enim. Curabitur varius est
                              quis sollicitudin volutpat.
              .shadow
          %hr.le-hr
            %section#skills
              .sticky-paper-head.has-shadow
                .content
                  %h1= t 'navbar_title.skills'
                .shadow
              .sticky-paper-body.has-shadow
                .content
                  .row
                    .col-xs-12
                      .timeline-holder.wow.bounceInUp{:style => "visibility: hidden; animation-name: none;"}
                        #skills-head.timeline-head
                          .icon
                            %i.fa.fa-tasks
                        .timeline-body
                          .skill-holder.timeline-item
                            .skill-item.left
                              .skill.circliful{"data-fill" => "#272425", "data-info" => "Lorem ipsum dolor sit amet", "data-percent" => "0", "data-text" => "Linux", :style => "width: 150px;"}
                                %span.circle-text{:style => "line-height: 150px; font-size: 20px;"} Linux
                                %span.circle-info-half{:style => "line-height: 187.5px;"} Lorem ipsum dolor sit amet
                                %canvas{:height => "155", :width => "150"}
                            .event-content.timeline-content.right
                              %p
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Vivamus laoreet dolor metus, eu ullamcorper turpis ornare tincidunt.
                                Vivamus tristique
                                = succeed "." do
                                  %strong rhoncus enim
                                Curabitur varius est quis sollicitudin volutpat.
                          .skill-holder.timeline-item
                            .event-content.timeline-content.left
                              %p
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Vivamus laoreet dolor metus, eu ullamcorper turpis ornare tincidunt.
                                %strong Vivamus
                                tristique rhoncus enim. Curabitur varius est quis sollicitudin volutpat.
                            .skill-item.right
                              .skill.circliful{"data-fill" => "#272425", "data-info" => "HTML", "data-percent" => "85", "data-text" => "85%", :style => "width: 150px;"}
                                %span.circle-text{:style => "line-height: 150px; font-size: 20px;"} 85%
                                %span.circle-info-half{:style => "line-height: 187.5px;"} HTML
                                %canvas{:height => "155", :width => "150"}
                          .skill-holder.timeline-item
                            .skill-item.left
                              .skill.circliful{"data-fill" => "#272425", "data-info" => "CSS", "data-percent" => "75", "data-text" => "75%", :style => "width: 150px;"}
                                %span.circle-text{:style => "line-height: 150px; font-size: 20px;"} 75%
                                %span.circle-info-half{:style => "line-height: 187.5px;"} CSS
                                %canvas{:height => "155", :width => "150"}
                            .event-content.timeline-content.right
                              %p
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Vivamus laoreet
                                = succeed "," do
                                  %strong dolor metus
                                eu ullamcorper turpis ornare tincidunt.
                                Vivamus tristique rhoncus enim. Curabitur varius est quis sollicitudin volutpat.
                          .skill-holder.timeline-item
                            .event-content.timeline-content.left
                              %p
                                Lorem
                                %strong ipsum dolor
                                sit amet, consectetur adipiscing elit.
                                Vivamus laoreet dolor metus, eu ullamcorper turpis ornare tincidunt.
                                Vivamus tristique rhoncus enim. Curabitur varius est quis sollicitudin volutpat.
                            .skill-item.right
                              .skill.circliful{"data-fill" => "#272425", "data-info" => "jQuery", "data-percent" => "65", "data-text" => "65%", :style => "width: 150px;"}
                                %span.circle-text{:style => "line-height: 150px; font-size: 20px;"} 65%
                                %span.circle-info-half{:style => "line-height: 187.5px;"} jQuery
                                %canvas{:height => "155", :width => "150"}
                .shadow
            %hr.le-hr
              %section#contact
                .sticky-paper-head.has-shadow
                  .content
                    %h1= t 'navbar_title.contact'
                  .shadow
                .sticky-paper-body.has-shadow
                  .content
                    .row.row-contact
                      .col-xs-12.col-md-8
                        .contact-form-holder
                          .message-box
                          %form#contact-form.contact-form{:method => "post", :novalidate => "novalidate"}
                            .col-xs-12.col-sm-6.no-margin
                              .control-group
                                .controls
                                  %input#cname.le-input.required.col-xs-12.placeholder{"data-placeholder" => "Your Name*", :name => "name", :size => "25", :value => "Your Name*"}
                            .col-xs-12.col-sm-6.no-margin
                              .control-group
                                .controls
                                  %input#cemail.le-input.required.email.col-xs-12.placeholder{"data-placeholder" => "Your Email*", :name => "email", :value => "Your Email*"}
                            .col-xs-12.no-margin
                              .control-group
                                .controls
                                  %input#subject.le-input.col-xs-12.placeholder{"data-placeholder" => "Subject", :name => "subject", :size => "25", :value => "Subject"}
                            .col-xs-12.no-margin
                              .control-group
                                .controls
                                  %textarea#ccomment.le-input.col-xs-12.no-margin.placeholder{:cols => "5", "data-placeholder" => "Message", :name => "message", :rows => "9"} Message
                            .col-xs-12.no-margin
                              .button-holder
                                %input.submit.le-btn.big{:type => "submit", :value => "send"}
                              #loading.pull-right
                                = image_tag 'loader.gif'
                      .col-xs-12.col-md-4
                        .contact-info
                          %ul
                            %li
                              %label= t('address') + ':'
                              %br
                                = t 'myaddress'
                            %li
                              %label= t('email') + ':'
                              %a{:href => "#"} jqingming@gmail.com
                            %li
                              %label= t('phone') + ':'
                              %a{:href => "#"} +86 18601302770
                            %li
                              %label= t('fax') + ':'
                              %a{:href => "#"} None
                          .social-icons
                            %ul
                              %li
                                %a.fa.fa-facebook{:target => '_blank', :href => "https://www.facebook.com/ming.jqing.3"}
                              %li
                                %a.fa.fa-twitter{:target => '_blank', :href => "https://twitter.com/mmjiang"}
                              %li
                                %a.fa.fa-google-plus{:target => '_blank', :href => "https://plus.google.com/u/0/102532645207777850705"}
                              %li
                                %a.fa.fa-github{:target => '_blank', :href => "https://github.com/bit-jmm"}
                              %li
                                %a.fa.fa-linkedin{:target => '_blank', :href => "https://cn.linkedin.com/in/mmjiang"}
                  .shadow
                  %section#footer
                    .sticky-paper-head.has-shadow
                      .content
                        .copyright
                          created by
                          %a.bold{:href => "#home"}=t('author')
                      .shadow
%a.goto-top{:href => "#gotop", :style => "opacity: 0;"}
= javascript_include_tag 'application', 'data-turbolinks-track' => true
